# Enable Rewrite Engine
RewriteEngine On

# Force trailing slash for directories and URLs
RewriteCond %{REQUEST_URI} !/$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /$1/ [L,R=301]

# Handle URLs with trailing slash by mapping them to .html files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}/ -f
RewriteRule ^(.*)/$ $1.html [L]

# Custom 404 Error Page
ErrorDocument 404 /404.html
