# Enable Rewrite Engine
RewriteEngine On

# Redirect URLs ending with / to their corresponding .html pages
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}/ -f
RewriteRule ^(.*)/$ $1.html [L]

# Handle URLs without .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

# Custom 404 Error Page
ErrorDocument 404 /404.html

