.animation {
  transition: all 0.3s ease-in-out;
}
.scale {
  animation: scale 2s infinite ease-in-out;
}
.shake {
  animation: shake 2s infinite ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
}
