@import "../abstracts/variable";

.gradient {
  background: linear-gradient(
    45deg,
    rgba($primary, 0.5),
    rgba($secondary, 0.5),
    rgba($tertiary, 0.5),
    rgba($quinary, 0.5)
  );
  background-size: 200% 200%;
  animation: gradientBG 5s ease infinite;
  backdrop-filter: saturate(100%) blur(8px);
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
