$display-font-weight: 500;
$display-font-style: normal;
$primary: #f16f3b;
$secondary: #db3647;
$success: #333787;
$tertiary: #343657;
$transparent: transparent;
$quaternary: #f27f52;
$quinary: #f28f66;
$senary: #0e0f20;
$light: #f1f1f1;
$white: #ffffff;
